
body {
    background: black;
    margin: 4em;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, Courier, monospaced;
}

body, a {
    color: #0a0;
}

a {
    font-weight: bold;
}

button {
    background: #000;
    color: #0a0;
    border-color: #0a0;
}

.text{
    color: #aaa;

}

::selection{
	background: #0a0;
	color: #fff;
}

#quote::selection{
	color: #000;
}

